[database]
url = "postgres://geekswimmers:geekswimmers@localhost:5432/geekswimmers?sslmode=disable"
maxopenconns = 10
maxidleconns = 5
connmaxlifetime = 30 # minutes

[server]
port = 8080
sessionkey = ""
url = "http://localhost:8080"
