{{define "home-layout"}}
<!doctype html>
<html lang="en">
    <head>
        <script>
            if (location.protocol != "https:" && location.hostname != "localhost") {
                window.location.replace("https://www.geekswimmers.com");
            }
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gafata&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/main.css">

        {{if .BaseTemplateData.MonitoringGoogleAnalytics }}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{.BaseTemplateData.MonitoringGoogleAnalytics}}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());
                gtag('config', '{{.BaseTemplateData.MonitoringGoogleAnalytics}}');
            </script>
        {{end}}

        <title>{{template "title" .}} - Geek Swimmers</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo.png" height="32" class="d-inline-block align-top" alt="Logo" loading="lazy">
                    <span class="navbar-brand mb-0 h1">Geek Swimmers</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Times
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/#time-benchmark">Benchmark</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/times/standards">Standards</a></li>
                                <li><a class="dropdown-item" href="/times/records">Records</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Swimming
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/swimming/styles">Styles</a></li>
                            </ul>
                        </li>
                    </ul>
                    {{if .SessionData.Email }}
                        <ul class="navbar-nav text-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg class="bi bi-people-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
                                        <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
                                    </svg> &nbsp;{{.SessionData.FirstName}} {{.SessionData.LastName}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" href="/auth/signout/">Sign Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    {{else}}
                        <form class="d-flex">
                            <a class="btn btn-outline-primary" href="/auth/signin/" id="lnkSignIn">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-shield-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
                                    <path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    <path d="M7.411 8.034a.5.5 0 0 1 .493-.417h.156a.5.5 0 0 1 .492.414l.347 2a.5.5 0 0 1-.493.585h-.835a.5.5 0 0 1-.493-.582l.333-2z"/>
                                </svg>
                                Sign In
                            </a>&nbsp;&nbsp;
                            <a class="btn btn-outline-primary" href="/signup/">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                                    <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z"/>
                                    <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                Sign Up
                            </a>
                        </form>
                    {{end}}
                </div>
            </div>
        </nav>

        <main role="main" class="container">
            {{template "content" .}}
        </main>

        {{if not .SessionData.AcceptedCookies}}
            <div class="modal fade" id="cookieModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img src="/static/images/logo.png" height="32" class="d-inline-block align-top" alt="Logo" loading="lazy">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Accept Cookies</h1>
                        </div>
                        <div class="modal-body">
                            We know cookies are not healthy for swimmers, but we have to use them to improve your experience on our website.
                            By clicking "Accept", you agree to use cookies for usability and analytics purposes.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="acceptCookies();">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}

        <footer class="footer">
            <nav class="navbar fixed-bottom navbar-light bg-light">
                <div class="container">
                    <span class="text-muted">
                        {{if .BaseTemplateData.FeedbackForm }}
                            <a href="{{.BaseTemplateData.FeedbackForm}}" target="_blank" rel="noopener noreferrer"></a>
                                Please, give feedback!
                            </a>
                        {{end}}
                    </span>
                    <span class="text-muted">Proudly supported by <a href="http://www.rowswimming.ca" target="_blank" rel="noopener noreferrer">ROW Swim Club</a></span>
                </div>
            </nav>
        </footer>

        <script src="/static/js/bootstrap.bundle.min.js"></script>
        {{template "scripts" .}}
        <script src="/static/js/main.js"></script>
        {{if not .SessionData.AcceptedCookies}}
            <script type="text/javascript">
                const modalElement = document.getElementById('cookieModal');
                const cookieModal = new bootstrap.Modal(modalElement, {
                    keyboard: false,
                    backdrop:'static'
                });
                cookieModal.show(modalElement);

                function acceptCookies() {
                    fetch("/api/accepted-cookies").then(() => {
                        cookieModal.hide()
                        window.location.reload(true)
                    }).catch(err => {
                        console.log(err)
                    })
                }
            </script>
        {{end}}
    </body>
</html>
{{end}}
