{{template "base" .}}

{{define "title"}}Style - {{ .Modality.Stroke | Title }}{{end}}

{{define "content"}}
    <h1 class="display-6">
        {{ .Modality.Stroke | Title }}
    </h1>
    <p class="lead">{{ .Modality.Description }}</p>

    <h3>Rules</h3>

    <p>Here are some guidelines to avoid disqualification in a {{ .Modality.Stroke | Title }} event.
       This list is not exhaustive. Keep following your coach's instructions to swim properly while being competitive.</p>

    {{ range .Instructions }}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ .Sequence }}</h5>
                <p class="card-text">{{ .Instruction }}</p>
            </div>
        </div>
        
    {{ end }}

    <br>
    <a class="btn btn-secondary" href="/swimming/styles">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
        Back
    </a>
{{end}}