{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "content"}}
    <div class="card">
        <div class="card-body">
            {{range .Articles}}
                <h1 class="display-3">{{.Title}}</h1>

                <div class="lead">
                    {{markdown .Content}}
                </div>
            {{end}}
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Time Benchmark</h5>
            <p class="card-text">How close am I from those Championships?</p>
            
            <form id="benthmark-form" method="post" action="/swimmers/benchmark">
                <div class="row">
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" name="birthDate" id="birthDate" value="{{.BirthDate}}" required>
                        <small class="text-body-secondary">We use the date of birth to calculate the age of the swimmer at the date specifyed by each championship.</small>
                    </div>
    
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <a href="#" data-bs-toggle="tooltip" data-bs-title="Swim Canada and Swim Ontario use only two genders to categorize time standards.">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                        </a>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="FEMALE" {{if eq .Gender "FEMALE"}}checked{{end}} required>
                            <label class="form-check-label" for="genderFemale">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="genderMale" value="MALE" {{if eq .Gender "MALE"}}checked{{end}} required>
                            <label class="form-check-label" for="genderMale">Male</label>
                        </div>
                    </div>
    
                    <div class="mb-3">
                        <label for="course">Course</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="course" id="shortCourse" value="SHORT" required>
                            <label class="form-check-label" for="shortCourse">Short (25m)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="course" id="longCourse" value="LONG" required>
                            <label class="form-check-label" for="longCourse">Long (50m)</label>
                        </div>
                    </div>
    
                    <div class="mb-3">
                        <label for="event">Event</label>
                        <select id="event" name="event" class="form-select" required>
                            <option value="">Select...</option>
                            <option value="50-FREE">50m Free</option>
                            <option value="100-FREE">100m Free</option>
                            <option value="200-FREE">200m Free</option>
                            <option value="400-FREE">400m Free</option>
                            <option value="800-FREE">800m Free</option>
                            <option value="1500-FREE">1500m Free</option>
                            <option value="100-BACK">100m Backstroke</option>
                            <option value="200-BACK">200m Backstroke</option>
                            <option value="100-BREAST">100m Breaststroke</option>
                            <option value="200-BREAST">200m Breaststroke</option>
                            <option value="100-FLY">100m Butterfly</option>
                            <option value="200-FLY">200m Butterfly</option>
                            <option value="100-MEDLEY">100m Individual Medley</option>
                            <option value="200-MEDLEY">200m Individual Medley</option>
                            <option value="400-MEDLEY">400m Individual Medley</option>
                        </select>
                    </div>
    
                    <div class="mb-3">
                        <label for="time">Your Time</label><br>
                        <div class="row">
                            <div class="col">
                                <label for="minute">Minutes</label><br>
                                <input type="number" class="form-control" id="minute" name="minute" min="0" max="59" size="3" required>
                            </div>
                            <div class="col">
                                <label for="second">Seconds</label><br>
                                <input type="number" class="form-control" id="second" name="second" min="0" max="59" size="3" required>
                            </div>
                            <div class="col">
                                <label for="milisecond">Miliseconds</label><br>
                                <input type="number" class="form-control" id="milisecond" name="milisecond" min="0" max="99" size="3" required>
                            </div>
                        </div>
                    </div>
                </div>
    
                <button type="submit" id="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483m.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535m-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                    Search
                </button>
            </form>
        </div>
    </div>
{{end}}