{{template "base" .}}

{{define "title"}}Records{{end}}

{{define "breadcrumb"}}
    <li class="breadcrumb-item active" aria-current="page">Records</li>
{{end}}

{{define "content"}}
    <h1 class="display-6">
        Records
    </h1>

    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Records</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                {{range .RecordSets}}
                <tr>
                    <td><a href="/times/records/{{.ID}}">{{.Jurisdiction.Title}}</td>
                    <td>{{.Jurisdiction.SubTitle}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
{{end}}
