{{template "base" .}}

{{define "title"}}Modality - {{ .Modality.Stroke | Title }}{{end}}

{{define "content"}}
    <h1 class="display-6">
        {{ .Modality.Stroke | Title }}
    </h1>
    <p class="lead">{{ .Modality.Description }}</p>

    <h3>Rules</h3>

    <p>Here are some guidelines to avoid disqualification in a {{ .Modality.Stroke | Title }} event.
       This list is not exhaustive. Keep following your coach's instructions to swim properly while being competitive.</p>

    {{ range .Instructions }}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ .Sequence }}</h5>
                <p class="card-text">{{ .Instruction }}</p>
            </div>
        </div>
        
    {{ end }}
{{end}}