{{template "base-layout" .}}

{{define "title"}}Time Standard{{end}}

{{define "breadcrumb"}}
    <li class="breadcrumb-item"><a href="/times/standards">Time Standards</a></li>
    <li class="breadcrumb-item"><a href="/times/standards">Events</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{.Distance}} {{.Style | Title}}</li>
{{end}}

{{define "content"}}
    <h3>
        Standard Event
    </h3>

    <h3 class="display-6">
        {{.TimeStandard.Name}}
    </h3>

    <h2>
        {{.Distance}}m {{.Style | Title}} - {{.Course | Title}} Course - {{.Gender | Title}}
        {{if .Age}}
        - {{.Age.Int64}} Years Old
        {{end}}
    </h2>

    <h4>History</h4>
    <div class="card">
        <div class="card-body">
            <canvas id="standard-chart"></canvas>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Qualifying Time</th>
                    <th scope="col">Difference</th>
                </tr>
            </thead>
            <tbody>
                {{range .StandardTimes}}
                <tr>
                    <td>{{.UpdateDate.Format "Jan 02, 2006" }}</td>
                    <td>{{.Standard | FormatMilliseconds}}</td>
                    {{ $diff := FormatMilliseconds .Difference }}
                    <td>{{if eq $diff "00:00.00" }}---{{else}}{{$diff}}{{end}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <br>
    <button class="btn btn-secondary" onclick="history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
        Back
    </button>
{{end}}

{{define "scripts"}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('standard-chart');

    const data = [
        {{range .InvertedStandardTimes}}
        {x: '{{.UpdateDate.Format "Jan 02, 2006" }}', y: {{.Standard}} },
        {{end}}
    ];

    new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Standard Times',
                data: data,
                borderWidth: 1,
                pointStyle: 'circle',
                pointRadius: 10,
                pointHoverRadius: 15
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: (ctx) => 'Historical Changes to the Standard Time',
                },
                legend: {
                    display: false
                },
                tooltip: {
                    callbacks: {
                        label: (context) => formatMilliseconds(context.parsed.y)
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: false,
                    afterBuildTicks: axis => axis.ticks = data.map(v => ({value: v.y})),
                    ticks: {
                        source: 'labels',
                        callback: ((context) => {
                            return formatMilliseconds(context);
                        })
                    }
                }
            }
        }
    });
</script>
{{end}}