{{template "base" .}}

{{define "title"}}Style - {{ .Style.Stroke | Title }}{{end}}

{{define "content"}}
    <h1 class="display-6">
        {{ .Style.Stroke | Title }}
    </h1>
    <p class="lead">{{ .Style.Description }}</p>

    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="tab-guidelines" data-bs-toggle="tab" data-bs-target="#tab-guidelines-pane" type="button" role="tab" aria-controls="tab-guidelines-pane" aria-selected="true">Guidelines</button>
        </li>
        <!--<li class="nav-item" role="presentation">
          <button class="nav-link" id="tab-distances" data-bs-toggle="tab" data-bs-target="#tab-distances-pane" type="button" role="tab" aria-controls="tab-distances-pane" aria-selected="false">Distances</button>
        </li>-->
    </ul>

    <div class="tab-content" id="tabs-content">
        <div class="tab-pane fade show active" id="tab-guidelines-pane" role="tabpanel" aria-labelledby="guidelines-tab" tabindex="0">
            <br>
            <p>
                Officials on deck ensure safety, organization, timekeeping, and fair competition. 
                During the race, they observe you swimming to the best of your ability and ensure 
                the rules of the competition. They implement the rules with a heavy heart, knowing 
                it's a part of the swimmer's learning process. By learning the rules during 
                practice and reviewing them here, you reduce the likelihood of disqualification.
            </p>    
            <p>
                We compiled a list of what you can do in a <b>{{ .Style.Stroke | Title }}</b> 
                event to have a valid race. <b>This list is not exhaustive!</b> Keep following 
                your coach's instructions to swim properly while being competitive.
            </p>
        
            {{ range .Instructions }}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ .Sequence }}</h5>
                        <p class="card-text">{{ .Instruction }}</p>
                    </div>
                </div>
            {{ end }}

            <p style="text-align: right;">
                <b>Source</b>: 
                <a href="https://www.swimming.ca/en/swimmingcanadarules/" target="_blank" rel="noopener noreferrer">Swimming Canada Rules</a>
            </p>
        </div>
        <!--<div class="tab-pane fade" id="tab-distances-pane" role="tabpanel" aria-labelledby="distances-tab" tabindex="1">

        </div>-->
    </div>

    <br>
    <a class="btn btn-secondary" href="/swimming/styles">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
        Back
    </a>
{{end}}