{{template "base" .}}

{{define "title"}}@{{.User.Username}} - Email Settings{{end}}

{{define "content"}}
    <h2>{{.User.Name }} | <small>Settings</small></h2>
    <hr/>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="settings" class="text-info">Profile</a></li>
                <li class="list-group-item list-group-item-info"><strong>Email</strong></li>
                <li class="list-group-item list-group-item-light"><a href="account" class="text-info">Account</a></li>
            </ul>
            <br>
        </div>
        <div class="col-sm-9">
            {{if .Error }}
                <div class="alert alert-warning" role="alert">
                    {{html .Error}}
                </div>
            {{end}}

            <div class="card">
                <div class="card-body">
                    <h4>Notifications</h4>

                    <p class="lead">We communicate with you using email messages. I want to be notified about:</p>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="general-notification" disabled checked>
                        <label class="form-check-label" for="general-notification">
                            General notifications such as password and email changes, etc.
                            It's required because the app relies on it to work properly.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="promotional-notification" {{if .User.NotificationPromo}}checked{{end}}>
                        <label class="form-check-label" for="promotional-notification">
                            Promotional notifications such as new features, trending steps, blog posts, etc.
                            It is optional because it's up to you how much engaged with the app you want to be.
                        </label>
                    </div>
                    <p class="success" style="margin-left: 15px;" id="notifications-saved"></p>

                    <h4>Change Email</h4>
                    <p class="lead">If you change your email, let's make sure the new one is as valid as the current one.</p>
                    <form id="email-form" method="post" action="email" autocomplete="off">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="currentEmail">Current Email</label>
                                    <input type="text" class="form-control" id="currentEmail" name="currentEmail" value="{{.User.Email}}" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="newEmail">New Email (Make sure it is correct!)</label>
                                    <input type="email" class="form-control" id="newEmail" name="newEmail" value="{{.NewEmail}}" required>
                                    <span class="error">{{html .ErrorEmail}}</span>
                                </div>

                                <div class="form-group">
                                    <label for="password">Current Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                    <span class="error">{{html .ErrorAuthentication}}</span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "scripts"}}
    <script src="/static/js/auth.js"></script>
{{end}}