{{template "base-layout" .}}

{{define "title"}}Profile{{end}}

{{define "breadcrumb"}}
    <li class="breadcrumb-item active" aria-current="page">Profile</li>
{{end}}

{{define "content"}}
    <div class="row">
        <div class="col">
            <h3>{{.Role | Title}}'s Profile</h3>
        </div>
        <div class="col-auto">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-menu-app-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h2A1.5 1.5 0 0 1 5 1.5v2A1.5 1.5 0 0 1 3.5 5h-2A1.5 1.5 0 0 1 0 3.5zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/profile/edit/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                        </svg> Edit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h1 class="display-6">{{.FirstName}} {{.LastName}}</h1>

    {{if ne .Role "SWIMMER"}}
        <br>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">My Swimmers</h3>
                <h6 class="card-subtitle mb-2 text-body-secondary">I'm a parent or a caregiver of the following swimmers:</h6>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Gender</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Swimmers}}
                        <tr>
                            <td>{{if eq .LinkApproval "ACCEPTED"}}
                                    <a href="/profile/swimmers/{{.ID}}">{{.Swimmer.FirstName}} {{.Swimmer.LastName}}</a>
                                {{else}}
                                    {{.Swimmer.FirstName}} {{.Swimmer.LastName}}
                                {{end}}</td>
                            <td>{{.Swimmer.BirthDate.Time.Format "Jan 02, 2006"}}</td>
                            <td>{{.Swimmer.Gender.String | Title}}</td>
                        </tr>
                    {{else}}
                        <tr>
                            <td colspan="3">No swimmer listed yet.</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>

            <div class="card-body">
                <a class="btn btn-secondary" href="/profile/swimmers/form/">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                        <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z"/>
                        <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg> Add Swimmer
                </a>
            </div>
        </div>
    {{end}}
{{end}}

{{define "scripts"}}{{end}}