{{template "base-layout" .}}

{{define "title"}}Records{{end}}

{{define "breadcrumb"}}
    <li class="breadcrumb-item"><a href="/times/records">Records</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{.RecordSet.Jurisdiction.Title}}</li>
{{end}}

{{define "content"}}
    <h3>Records</h3>

    <h3 class="display-6">
        {{.RecordSet.Jurisdiction.Title}}
    </h3>
    <p class="lead">{{.RecordSet.Jurisdiction.SubTitle}}</p>

    {{if and .RecordSet.Jurisdiction.Club .SessionData.Email}}
        <p class="text-end"><a class="btn btn-secondary" href="/times/records/{{.RecordSet.ID}}/poster" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-easel" viewBox="0 0 16 16">
                <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0M2 3v7h12V3z"/>
            </svg>
            Get Club Poster
        </a></p>
    {{end}}

    <div class="card">
        <div class="card-header">
            <form id="filter-form" method="get" action="/times/records/{{.RecordSet.Jurisdiction.ID}}">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="event">Age</label>
                            <select id="age" name="age" class="form-select" onchange="document.getElementById('filter-form').submit();" required>
                                {{range .AgeRanges}}
                                    <option value="{{.AgeRange}}" {{if eq $.AgeRange .AgeRange}}selected{{end}}>{{.AgeRange}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="gender" class="form-label">Gender</label>
                            <a href="#" data-bs-toggle="tooltip" data-bs-title="Swim Canada and Swim Ontario use only two genders to categorize time standards.">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                            </a>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="FEMALE"  onchange="document.getElementById('filter-form').submit();" required{{if eq $.Gender "FEMALE"}} checked{{end}}>
                                <label class="form-check-label" style="font-weight: normal;" for="genderFemale">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="genderMale" value="MALE"  onchange="document.getElementById('filter-form').submit();" required{{if eq $.Gender "MALE"}} checked{{end}}>
                                <label class="form-check-label" style="font-weight: normal;" for="genderMale">Male</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="course">Course</label><br>
                            <div class="form-check form-check-inline" style="padding-top: 8px;">
                                <input class="form-check-input" type="radio" name="course" id="shortCourse" value="SHORT" onchange="document.getElementById('filter-form').submit();" required{{if eq $.Course "SHORT"}} checked{{end}}>
                                <label class="form-check-label" style="font-weight: normal;" for="shortCourse">Short (25m)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="course" id="longCourse" value="LONG"  onchange="document.getElementById('filter-form').submit();" required{{if eq $.Course "LONG"}} checked{{end}}>
                                <label class="form-check-label" style="font-weight: normal;" for="longCourse">Long (50m)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Holder</th>
                    <th scope="col">Record</th>                    
                    <th scope="col">When</th>
                </tr>
            </thead>
            <tbody>
                {{range .Records}}
                    <tr>
                        <td>
                            {{if .Previous}}
                                <a href="/times/records/{{.Definition.ID}}/history/">{{.Definition.Distance}} {{.Definition.Style | Title}}</a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                            {{else}}
                                {{.Definition.Distance}} {{.Definition.Style | Title}}
                            {{end}}
                        </td>
                        <td>{{.Holder}}</td>
                        <td>{{.Time | FormatMiliseconds}}</td>
                        <td>{{if .Month}}{{.MonthName}}-{{end}}{{if .Year}}{{.Year}}{{end}}</td>
                    </tr>
                {{end}}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col" colspan="4">Total: {{len .Records}} records</th>
                </tr>
            </tfoot>
        </table>
        <div class="card-footer text-end">
            Source: <a href="{{.RecordSet.Source.Link}}" target="_blank" rel="noopener noreferrer">{{.RecordSet.Source.Title}}</a>
        </div>
    </div>

    <br>
    <a class="btn btn-secondary" href="/times/records">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
        Back
    </a>
{{end}}

{{define "scripts"}}{{end}}