{{template "base" .}}

{{define "title"}}Sign Up{{end}}

{{define "content"}}
    <h2>Sign Up</h2>

    <div class="card">
        <div class="card-body">
            <form id="signup-form" method="post" action="/signup/">
                <div class="row">
                    <div class="col-auto">
                        <div class="form-group">
                            <label for="email">Email (Make sure it is correct!)</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="sophie@example.com" maxlength="100" value="{{.Email}}" required>
                            <span class="error">{{html .ErrorEmail}}</span>
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">geekswimmers.com/to/</div>
                                </div>
                                <input type="text" class="form-control" id="username" name="username" placeholder="username" minlength="2" maxlength="30" value="{{.UsernameSignUp}}" required>
                            </div>
                            <span class="error">{{.ErrorUsername}}</span>
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="agreed" name="agreed" required>
                            <label class="form-check-label" for="exampleCheck1">
                                I understand, as an early adopter, that <strong>Geek Swimmers</strong> is currently in beta with
                                no warranty. I also understand that I will be informed about new features by email unless
                                I opt-out in my profile. However, I cannot opt-out from basic email communication
                                required for the good functioning of the application.
                            </label>
                            <br><span class="error">{{.ErrorAgreed}}</span>
                        </div>
                    </div>
                    <div class="col-auto"></div>
                </div>

                <button class="btn btn-info g-recaptcha" data-sitekey="{{.ReCaptchaSiteKey}}" data-callback='onSubmit' data-action='submit'>
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                        <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z"/>
                        <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg> Sign Up
                </button>
                <a class="btn btn-secondary" href="/" role="button">Cancel</a>
                <br><br><p>Already have an account? <a href="/auth/signin/">Sign in</a></p>
            </form>
        </div>
    </div>
{{end}}

{{define "scripts"}}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="/static/js/auth.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("signup-form").submit();
        }
    </script>
{{end}}