{{template "base" .}}

{{define "title"}}Records{{end}}

{{define "content"}}
    <h1 class="display-6">
        Records
    </h1>

    <h3>
        {{.Jurisdiction.Title}}
    </h3>
    <p class="lead">{{.Jurisdiction.SubTitle}}</p>

    <div class="card">
        <div class="card-header">
            <form id="filter-form" method="get" action="/times/records/{{.Jurisdiction.ID}}">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="event">Age</label>
                            <select id="age" name="age" class="form-select" onchange="document.getElementById('filter-form').submit();" required>
                                {{range .AgeRanges}}
                                    <option value="{{.AgeRange}}" {{if eq $.AgeRange .AgeRange}}selected{{end}}>{{.AgeRange}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="gender" class="form-label">Gender</label>
                            <a href="#" data-bs-toggle="tooltip" data-bs-title="Swim Canada and Swim Ontario use only two genders to categorize time standards.">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                            </a>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="FEMALE"  onchange="document.getElementById('filter-form').submit();" required{{if eq $.Gender "FEMALE"}} checked{{end}}>
                                <label class="form-check-label" style="font-weight: normal;" for="genderFemale">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="genderMale" value="MALE"  onchange="document.getElementById('filter-form').submit();" required{{if eq $.Gender "MALE"}} checked{{end}}>
                                <label class="form-check-label" style="font-weight: normal;" for="genderMale">Male</label>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="course">Course</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="course" id="longCourse" value="LONG"  onchange="document.getElementById('filter-form').submit();" required{{if eq $.Course "LONG"}} checked{{end}}>
                                <label class="form-check-label" style="font-weight: normal;" for="longCourse">Long (50m)</label>
                            </div>
                            <div class="form-check form-check-inline" style="padding-top: 8px;">
                                <input class="form-check-input" type="radio" name="course" id="shortCourse" value="SHORT" onchange="document.getElementById('filter-form').submit();" required{{if eq $.Course "SHORT"}} checked{{end}}>
                                <label class="form-check-label" style="font-weight: normal;" for="shortCourse">Short (25m)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Record</th>
                    <th scope="col">Holder</th>
                    <th scope="col">When</th>
                </tr>
            </thead>
            <tbody>
                {{range .Records}}
                    <tr>
                        <td>{{.Definition.Distance}} {{.Definition.Stroke | Title}}</a></td>
                        <td>{{.Time | FormatMiliseconds}}</td>
                        <td>{{.Holder}}</td>
                        <td>{{if .Month}}{{.MonthName}}-{{end}}{{if .Year}}{{.Year}}{{end}}</td>
                    </tr>
                {{end}}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col" colspan="3">Total: {{len .Records}} records</th>
                </tr>
            </tfoot>
        </table>
    </div>
{{end}}