{{template "base-layout" .}}

{{define "title"}}Sign Up{{end}}

{{define "breadcrumb"}}{{end}}

{{define "content"}}
    <h1 class="display-6">Sign Up</h1>

    <div class="card">
        <div class="card-body">
            <form id="signup-form" method="post" action="/signup/">
                {{if .Error }}
                    <div class="alert alert-warning" role="alert">
                        {{html .Error}}
                    </div>
                {{end}}

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" minlength="2" maxlength="30" value="{{.FirstName}}" required>
                            <span class="error">{{.ErrorFirstName}}</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" minlength="2" maxlength="30" value="{{.LastName}}" required>
                            <span class="error">{{.ErrorLastName}}</span>
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="email@example.com" maxlength="100" value="{{.Email}}" required>
                    <span class="error">{{html .ErrorEmail}}</span>
                </div>

                <div class="mb-3">
                    <label for="role" class="form-label">Community Role</label><br>
                    <div class="form-check form-check-inline" style="padding-top: 8px;">
                        <input class="form-check-input" type="radio" name="role" id="roleParent" value="PARENT" required{{if eq .Role "PARENT"}} checked{{end}} onclick="document.getElementById('forRoleAthlete').style.display = 'none';">
                        <label class="form-check-label" style="font-weight: normal;" for="roleParent">I'm a Swimmer's Parent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="role" id="roleAthlete" value="ATHLETE" required{{if eq .Role "ATHLETE"}} checked{{end}}  onclick="document.getElementById('forRoleAthlete').style.display = 'block';">
                        <label class="form-check-label" style="font-weight: normal;" for="roleAthlete">I'm a Swimmer</label>
                    </div>
                    <span class="error">{{.ErrorRole}}</span>
                </div>

                <div id="forRoleAthlete" style="display: none;">
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" name="birthDate" id="birthDate" value="{{.BirthDate}}" required>
                        <small class="text-body-secondary">We use the date of birth to calculate the age of the swimmer at the date specified by each championship.</small>
                        <span class="error">{{.ErrorBirthDate}}</span>
                    </div>
    
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <a href="#" data-bs-toggle="tooltip" data-bs-title="Swim Canada and Swim Ontario use only two genders to categorize time standards.">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                        </a>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="FEMALE" {{if eq .Gender "FEMALE"}}checked{{end}} required>
                            <label class="form-check-label" style="font-weight: normal;" for="genderFemale">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="genderMale" value="MALE" {{if eq .Gender "MALE"}}checked{{end}} required>
                            <label class="form-check-label" style="font-weight: normal;" for="genderMale">Male</label>
                        </div>
                        <span class="error">{{.ErrorGender}}</span>
                    </div>
                </div>
                
                <hr>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="agreed" name="agreed" required>
                    <label class="form-check-label" for="agreed">
                        I understand, as an early adopter, that <strong>Geek Swimmers</strong> is currently in beta with
                        no warranty. I also understand that I cannot opt-out from basic email communication
                        required for the good functioning of the application.
                    </label>
                    <br><span class="error">{{.ErrorAgreed}}</span>
                </div>
                <hr>
                {{if .ReCaptchaSiteKey}}
                    <button type="submit" id="btnSignUp" class="btn btn-primary g-recaptcha" data-sitekey="{{.ReCaptchaSiteKey}}" data-callback='onSubmit' data-action='submit'>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                            <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z"/>
                            <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg> Sign Up
                    </button>
                {{else}}
                    <button type="submit" class="btn btn-primary">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                            <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z"/>
                            <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg> Sign Up
                    </button>
                {{end}}
                <a class="btn btn-secondary" href="/" role="button">Cancel</a>
                <br><br><p>Already have an account? <a href="/auth/signin/">Sign in</a>.</p>
            </form>
        </div>
    </div>
{{end}}

{{define "scripts"}}
    {{if .ReCaptchaSiteKey}}
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
            if (document.getElementById("roleAthlete").checked) {
                document.getElementById('forRoleAthlete').style.display = 'block';
            }

            function onSubmit(token) {
                document.getElementById("signup-form").submit();
            }
        </script>
    {{end}}
{{end}}