{{template "admin-layout" .}}

{{define "title"}}Admin Console{{end}}

{{define "breadcrumb"}}
    <li class="breadcrumb-item active" aria-current="page">Admin Console</li>
{{end}}

{{define "content"}}
    <h1>Meets</h1>

    <br>
    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Website</th>
                </tr>
            </thead>
            <tbody>
            {{range .Meets}}
                <tr>
                    <td><a href="/admin/meets/{{.ID}}/">{{.Name}}</a></td>
                    <td>{{.StartDate.Format "Jan 02, 2006"}}</td>
                    <td>{{.EndDate.Format "Jan 02, 2006"}}</td>
                    <td>{{.Duration}}</td>
                    {{if .Website.Valid}}
                        <td><a href="{{.Website.String}}">Website</a></td>
                    {{else}}
                        <td>&nbsp;</td>
                    {{end}}
                </tr>
            {{else}}
                <tr>
                    <td colspan="3">No meets registered.</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
{{end}}

{{define "scripts"}}{{end}}