{{template "base" .}}

{{define "title"}}@{{.User.Username}} - Sign Off{{end}}

{{define "content"}}
    <h2>{{.User.Name }} | <small>Settings</small></h2>
    <hr/>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="settings" class="text-info">Profile</a></li>
                <li class="list-group-item list-group-item-light"><a href="email" class="text-info">Email</a></li>
                <li class="list-group-item list-group-item-info"><strong>Account</strong></li>
            </ul>
            <br>
        </div>
        <div class="col-sm-9">
            {{if .Error }}
                <div class="alert alert-warning" role="alert">
                    {{html .Error}}
                </div>
            {{end}}

            <div class="card">
                <div class="card-body">
                    <h4>Sign-Off</h4>
                    <p class="lead">We are sorry to see you go :-(</p>

                    <p>
                        If you decide to return, your data will be kept for 15 days and a simple sign in within this
                        period will reactivate your account. After 15 days, your data will be removed, but you can always
                        create another account with the same email, however your username will have to change.</p>

                    <form id="signoff-form" method="post" action="account/signoff">
                        <div class="form-group">
                            <label for="feedback">If you feel like writing today, drop us a few words to help make our services better.</label>
                            <textarea class="form-control" id="feedback" name="feedback" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-danger" id="btn-signoff">Sign Off</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "scripts"}}
    <script src="/static/js/auth.js"></script>
{{end}}