{{template "base" .}}

{{define "title"}}Time Benchmark{{end}}

{{define "content"}}
    <div class="card">
        {{if .Article.Image}}
            <img src="/static/images/content/{{.Article.Image}}" class="card-img" alt="{{.Article.ImageCopyright}}">
        {{end}}
        <div class="card-body">
            <h1 class="display-5">{{.Article.Title}}</h1>
            <div class="lead">
                {{markdown .Article.Abstract}}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="article-content">
                {{markdown .Article.Content}}
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="card-header">
                Read More
            </h4>
            <br>
            {{range .OtherArticles}}
                <div class="card">
                    {{if.Image}}
                        <img src="/static/images/content/{{.Image}}" class="card-img" alt="{{.ImageCopyright}}">
                    {{end}}
                    <div class="card-body">
                        <p><b><a class="link-dark link-offset-2 link-underline-opacity-0" href="/content/articles/{{.Reference}}/">{{.Title}}</a></b></p>
                    </div>
                </div>
                <br>
            {{else}}
                <p>No other articles available.</p>
            {{end}}
        </div>
    </div>
{{end}}