{{template "base-layout" .}}

{{define "title"}}Swimmer's Best Time{{end}}

{{define "breadcrumb"}}
    {{if ne .SessionData.Role "SWIMMER"}}
        <li class="breadcrumb-item"><a href="/profile/">Profile</a></li>
    {{end}}
    <li class="breadcrumb-item"><a href="/profile/swimmers/">Swimmer</a></li>
    {{if .SwimmerBestTime}}
        <li class="breadcrumb-item" aria-current="page"><a href="/profile/swimmers/{{$.SwimmerBestTime.Swimmer.ID}}/besttimes/{{.SwimmerBestTime.ID}}/">Best Time</a></li>
        <li class="breadcrumb-item active" aria-current="page">Form</li>
    {{else}}
        <li class="breadcrumb-item active" aria-current="page">Best Time</li>
    {{end}}
{{end}}

{{define "content"}}
    <h1 class="display-6">Best Time</h1>

    <div class="card">
        <div class="card-body">
            <form id="signup-form" method="post" action="/profile/swimmers/{{.Swimmer.ID}}/besttimes/{{if .SwimmerBestTime}}{{.SwimmerBestTime.ID}}/{{end}}form/">
                {{if .Error }}
                    <div class="alert alert-warning" role="alert">
                        {{html .Error}}
                    </div>
                {{end}}

                <div class="mb-3">
                    <label>Course</label><br>
                    {{if .SwimmerBestTime}}
                        <p>{{.SwimmerBestTime.Course | Title}}</p>
                    {{else}}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="course" id="shortCourse" value="SHORT" onclick="updateEventsByCourse({{.Swimmer.ID}})" {{if eq .Course "SHORT"}}checked{{end}} required>
                            <label class="form-check-label" style="font-weight: normal;" for="shortCourse">Short (25m)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="course" id="longCourse" value="LONG" onclick="updateEventsByCourse({{.Swimmer.ID}})" {{if eq .Course "LONG"}}checked{{end}} required>
                            <label class="form-check-label" style="font-weight: normal;" for="longCourse">Long (50m)</label>
                        </div>
                    {{end}}
                </div>

                <div class="mb-3">
                    <label for="event">Event</label>
                    {{if .SwimmerBestTime}}
                        <p>{{.SwimmerBestTime.Event.Distance}}m {{.SwimmerBestTime.Event.Style.Stroke | Title}}</p>
                    {{else}}
                        <select id="event" name="event" class="form-select" required>
                            <option value="0">Select...</option>
                            {{range .Events}}
                                <option value="{{.ID}}" {{if eq .ID $.Event}}selected{{end}}>{{.Distance}}m {{.Style.Stroke | Title}}</option>
                            {{end}}
                        </select>
                    {{end}}
                </div>

                <div class="mb-3">
                    <label>Your Time</label><br>
                    <div class="row">
                        <div class="col">
                            <label for="minute">Minutes</label><br>
                            <input type="number" class="form-control" id="minute" name="minute" min="0" max="59" size="3" value="{{.Minute}}" required>
                        </div>
                        <div class="col">
                            <label for="second">Seconds</label><br>
                            <input type="number" class="form-control" id="second" name="second" min="0" max="59" size="3" value="{{.Second}}" required>
                        </div>
                        <div class="col">
                            <label for="millisecond">Milliseconds</label><br>
                            <input type="number" class="form-control" id="millisecond" name="millisecond" min="0" max="99" size="3" value="{{.Millisecond}}" required>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                        <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z"/>
                        <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg> Save
                </button>
                <a class="btn btn-secondary" href="/profile/swimmers/{{.Swimmer.ID}}/" role="button">Cancel</a>
            </form>
        </div>
    </div>
{{end}}

{{define "scripts"}}{{end}}