{{template "base" .}}

{{define "title"}}Style - {{ .Style.Stroke | Title }}{{end}}

{{define "breadcrumb"}}
    <li class="breadcrumb-item"><a href="/swimming/styles">Swimming Styles</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Style.Stroke | Title }}</li>
{{end}}

{{define "content"}}
    <h1 class="display-6">
        {{ .Style.Stroke | Title }}
    </h1>
    <p class="lead">{{ .Style.Description }}</p>

    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="tab-guidelines" data-bs-toggle="tab" data-bs-target="#tab-guidelines-pane" type="button" role="tab" aria-controls="tab-guidelines-pane" aria-selected="true">Guidelines</button>
        </li>
        <!--<li class="nav-item" role="presentation">
          <button class="nav-link" id="tab-distances" data-bs-toggle="tab" data-bs-target="#tab-distances-pane" type="button" role="tab" aria-controls="tab-distances-pane" aria-selected="false">Distances</button>
        </li>-->
    </ul>

    <div class="tab-content" id="tabs-content">
        <div class="tab-pane fade show active" id="tab-guidelines-pane" role="tabpanel" aria-labelledby="guidelines-tab" tabindex="0">
            <br>
            <p>
                Officials on deck ensure safety, organization, timekeeping, and fair competition. 
                During the race, they observe you swimming to the best of your ability and ensure 
                the rules of the competition. They implement the rules with a heavy heart, knowing 
                it's a part of the swimmer's learning process. By learning the rules during 
                practice and reviewing them here, you reduce the likelihood of disqualification.
            </p>    
            <p>
                We compiled a list of what you can do in a <b>{{ .Style.Stroke | Title }}</b> 
                event to have a valid race. <b>This list is not exhaustive!</b> Keep following 
                your coach's instructions to swim properly while being competitive.
            </p>
        
            {{ range .Instructions }}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ .Sequence }}</h5>
                        <p class="card-text">{{ .Instruction }}</p>
                    </div>
                </div>
            {{ end }}
        </div>
        <!--<div class="tab-pane fade" id="tab-distances-pane" role="tabpanel" aria-labelledby="distances-tab" tabindex="1">

        </div>-->
    </div>

    <div class="row">
        {{if .PreviousStyle.Stroke}}
        <div class="col">
            <a class="btn btn-secondary" href="/swimming/styles/{{.PreviousStyle.Stroke | Lowercase}}/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
                {{.PreviousStyle.Stroke | Title}}
            </a>
        </div>
        {{end}}
        {{if .NextStyle.Stroke}}
        <div class="col" style="text-align: right;">
            <a class="btn btn-secondary" href="/swimming/styles/{{.NextStyle.Stroke | Lowercase}}/">
                {{.NextStyle.Stroke | Title}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </a>
        </div>
        {{end}}
    </div>

    <p style="text-align: center;">
        <b>Source</b>: 
        <a href="https://www.swimming.ca/en/swimmingcanadarules/" target="_blank" rel="noopener noreferrer">Swimming Canada Rules</a>
    </p>
{{end}}

{{define "scripts"}}{{end}}