{{template "base" .}}

{{define "title"}}Sign Up{{end}}

{{define "breadcrumb"}}{{end}}

{{define "content"}}
    <h1 class="display-6">Sign Up</h1>

    <div class="card">
        <div class="card-body">
            <h4>Just one more step!</h4>

            <p>Confirm your sign-up by clicking on the link we have just sent to <strong>{{.Email}}</strong>.
               If you don’t see this email in your inbox within 15 minutes, look for it in your junk mail folder.
               If you find it there, please mark it as "Not Junk".</p>

            <p>Problems or questions? Email us at <a href="mailto:contact@geekswimmers.com">contact@geekswimmers.com</a>.</p>
        </div>
    </div>
{{end}}

{{define "scripts"}}{{end}}