{{template "base-layout" .}} 

{{define "title"}}Record Holder{{end}}

{{define "breadcrumb"}}
    <li class="breadcrumb-item"><a href="/times/records">Records</a></li>
    <li class="breadcrumb-item"><a href="/times/records/{{.RecordSet.ID}}/">{{.RecordSet.Title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Record Holder</li>
{{end}} 

{{define "content"}}
    <h3>Record Holder</h3>
    <h2 class="display-6">{{.Swimmer.FirstName}} {{.Swimmer.LastName}}</h2>
    <h4>{{.RecordSet.Title}}</h4>

    <br>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Record History</h5>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Record</th>
                    <th scope="col">When</th>
                </tr>
            </thead>
            <tbody>
                {{range .Records}}
                    <tr>
                        <td>{{.Definition.Course | Title}},
                            {{if .Definition.MinAge}}
                                {{.Definition.MinAge}}
                            {{end}}
                            {{if and .Definition.MinAge .Definition.MaxAge}}
                                -
                            {{end}}
                            {{if .Definition.MaxAge}}
                                {{.Definition.MaxAge}}
                            {{end}}
                            yo, {{.Definition.Distance}}m {{.Definition.Style | Title}}
                        </td>
                        <td>{{.Time | FormatMilliseconds}}</td>
                        <td>{{if .Month}}{{.MonthName}}, {{end}}{{if .Year}}{{.Year}}{{end}}</td>
                    </tr>
                {{end}}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col" colspan="4">Total: {{len .Records}} records</th>
                </tr>
            </tfoot>
        </table>
        <div class="card-footer text-end">
            Source: <a href="{{.RecordSet.Source.Link}}" target="_blank" rel="noopener noreferrer">{{.RecordSet.Source.Title}}</a>
        </div>
    </div>
{{end}}

{{define "scripts"}}{{end}}